$purple: #aa5399;
$purple-2: #ce56b6;
$grey: #f4f4f4;
$grey-2: #afafaf;
$grey-3: #666666;
$light-grey: #e6e6e6;
$light-grey-2: #cccccc;
$dark-grey: #8e8e8e;
$orange: #fba586;
$orange-2: #e9a334;
$green: #5fd5ad;
$green-2: #38a081;
$red: #e12929;
$blue: #3b7cad;
$blue-text: #2275d3;
$white: #fff;
$yellow: #e0ce2d;
