mixin footer
  footer.footer
    .container.text-center
      .footer__logo
        img(src="images/logo-footer.png", alt="")
        h1.footer__text Baby test
      i.footer__icon.fa.fa-facebook-square
      i.footer__icon.fa.fa-youtube-square
      p.footer__p © 2017 - Bản quyền của Công Ty TNHH VVN Phát Triển.
      p.footer__p Địa chỉ: Nhà số 1 dãy H5 ngách 105/18/3 KTT Tổng cục II- Bộ Quốc Phòng – đường Xuân La – Xã Xuân Đỉnh – Huyện Từ Liêm – Hà Nội, Việt Nam.
      p.footer__p Giấy chứng nhận Đăng ký Kinh doanh số 0104561585 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 25/03/2010

