body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: $grey;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  &,
  &:focus {
    outline: 0;
  }
}

input {
  width: 100%;
}

a {
  &,
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-fb {
  background-color: $bg-fb;
}

.bg-gg {
  background-color: $bg-gg;
}

.cl-purple {
  color: $purple;
}

.text-bold {
  font-weight: 700;
}

.breadcrumb-custom {

  @include respond-to ('phone-and-down') {
    background-color: $white;
    padding: 0 15px;
    margin-bottom: 15px;
  }

  &__wrap {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 0;

    @include respond-to ('phone-and-down') {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    font-size: 30px;
    margin-left: 12px;

    @include respond-to ('phone-and-down') {
      font-size: 20px;
    }
  }
}

.pd-0 {
  padding: 0;
}

.mg-0 {
  margin: 0;
}

.mobile-show {
  display: none;

  @include respond-to ('phone-and-down') {
    display: block;
  }
}

.mobile-hide {
  @include respond-to ('phone-and-down') {
    display: none;
  }
}

.tablet-show {
  display: none;

  @include respond-to ('tablet-and-down') {
    display: block;
  }
}

.tablet-hide {
  @include respond-to ('tablet-and-down') {
    display: none;
  }
}
