mixin header
  header
    .container
      .header-wrapper
        .header-left
          .header-logo
            img(src="images/logo.png", alt="")
            h1.header-logo__text Baby test
          .header-nav
            ul.header-nav__nav
              li.header-nav__item
                a.header-nav__link(href="#!") GIỚI THIỆU
              li.header-nav__item
                a.header-nav__link(href="#!") TESTS
              li.header-nav__item
                a.header-nav__link(href="#!") HỖ TRỢ
        .header-right
          .header-lang
            img.header-lang__img(src="images/icon/icon-lang2.png", alt="")
            img.header-lang__img(src="images/icon/icon-lang1.png", alt="")
          .header-profile
            .header-profile__avar
            .header-profile__info
              p.header-profile__username Nguyễn Thành Trung
              button.header-profile__logout Log out
            .header-profile-mobile
              .menu-button
                span.line
                span.line
                span.line

    .header-mobile
      .header-mobile__top
        .container.header-mobile__top-w
          a.header-mobile__login(href="#!") Log in
          .header-mobile__lang
            img(src="images/icon/icon-lang2.png", alt="")
            img(src="images/icon/icon-lang1.png", alt="")
      .header-mobile__nav
        ul.header-mobile__ul
          li.header-mobile__item
            .container
              a.header-mobile__link(href="#!")
                h1.header-mobile__h1 Test Kỹ năng
                i.header-mobile__icon.fa.fa-chevron-right
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed delit, sed damet
          li.header-mobile__item
            .container
              a.header-mobile__link(href="#!")
                h1.header-mobile__h1 Test IQ
                i.header-mobile__icon.fa.fa-chevron-right
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed delit, sed damet
          li.header-mobile__item
            .container
              a.header-mobile__link(href="#!")
                h1.header-mobile__h1 Test EQ
                i.header-mobile__icon.fa.fa-chevron-right
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed delit, sed damet
          li.header-mobile__item
            .container
              a.header-mobile__link(href="#!")
                h1.header-mobile__h1 Test tính cách
                i.header-mobile__icon.fa.fa-chevron-right
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed delit, sed damet
          li.header-mobile__item
            .container
              a.header-mobile__link(href="#!")
                h2.header-mobile__h2 Giới thiệu
          li.header-mobile__item
            .container
              a.header-mobile__link(href="#!")
                h2.header-mobile__h2 Hỗ trợ



